@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nanum+Myeongjo:wght@800&display=swap');

html, body {
    background-color: black;
}

.navbar {
    width: 100%;
    overflow: hidden;
    position: fixed;
    padding: 0px 25px;
    height: 50px;
    top: 0;
    left: 0;
}

.navbar .inner_navbar {
    display: flex;
    justify-content: space-between;
    float: right;
    height: 100%;
    width: 100%;
}

.navbar .hamburger {
    display:none;
}

.navbar .logo a{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3px;
    color: #fff;
}

.navbar .menu ul{
    display: flex;
}

.navbar .menu ul li a{
    display: block;
    width: 120px;
    margin-right: 10px;
    background: black;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    transition: all 0.2s ease;
}

.navbar .menu ul li:last-child a{
    
}